{% extends 'base.html' %}

{% block title %}
Contact
{% endblock %}

{% block header_content %}
<header>
    <div class="header">
       <div class="headers" id="headersx">
           <div class="logo">
            <a href="{{ url_for('home') }}"><li >
                <img src="{{ url_for('static', filename='image/Logo (2).svg') }}" alt="logo">
              </li></a>           </div>
           <div class="list" id="list">
               <ul id="act">
                   <a href="{{ url_for('home') }}"><li >Home</li></a>
                   <a href="{{ url_for('post') }}"><li >Post</li></a>
                   <a href="{{ url_for('contact') }}"><li class="active">Contact</li></a>
                   {% if current_user.is_authenticated %}
                   <a href="{{ url_for('logout') }}" class="login" id="login">Logout</a>
               {% else %}
                   <a href="{{ url_for('login') }}" class="login" id="login">Login</a>
               {% endif %}                   </ul>
               <div class="listbtn">
                <button id="imglistNew" class="llx">=</button>
               </div>
           </div>
       </div>
    </div>

</header>

{% endblock %}




{% block content %}

<main class="contact">
    <div class="containery">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-messages">
                {% for message in messages %}
                    <div class="flash-message {{ 'success' if 'Feedback submitted successfully' in message else 'error' }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}


        <h1 class="contact-title" >Contact Us</h1>
        <form class="contact-form" id="contact-form" method="post" action="/contact">
            <label for="user_email" class="contact-label">Email:</label>
            <input type="email" id="user_email" name="email" required class="contact-input">
            <br>
        
            <label for="title" class="contact-label">Title:</label>
            <input type="text" id="title" name="title" required class="contact-input">
            <br>
        
            <label for="description" class="contact-label">Description:</label>
            <textarea id="description" name="description" required class="contact-textarea"></textarea>
            <br>
        
            <input type="submit" value="Submit" class="contact-button">
        </form>
        
        

    </div>

</main>

{% endblock %}
