{% extends 'base.html' %}


{% block header_content %}
<header>
    <div class="header">
       <div class="headers" id="headersx">
           <div class="logo">
            <a href="{{ url_for('home') }}"><li >
                <img src="{{ url_for('static', filename='image/Logo (2).svg') }}" alt="logo">
              </li></a>           </div>
           <div class="list" id="list">
               <ul id="act">
                   <a href="{{ url_for('home') }}"><li class="active">Home</li></a>
                   <a href="{{ url_for('post') }}"><li>Post</li></a>
                   <a href="{{ url_for('contact') }}"><li>Contact</li></a>
                   {% if current_user.is_authenticated %}
                   <a href="{{ url_for('logout') }}" class="login" id="login">Logout</a>
               {% else %}
                   <a href="{{ url_for('login') }}" class="login" id="login">Login</a>
               {% endif %}                   </ul>
               <div class="listbtn">
                <button id="imglistNew" class="llx">=</button>
               </div>
           </div>
       </div>
    </div>

</header>

{% endblock %}



{% block content %}


  <main class="bodyy">
    <div class="detail">
        <div class="details">
            
            <div >
           
                 <form class="imageboxx" method="POST" action="/post/edit/{{ post.id }}" enctype="multipart/form-data">
                   
                    <input type="text" name="title" id="titlebox" disabled="true" value="{{ post.title }}">                
                <!-- <img src="{{ post.image }}" alt="image" id="imagebox">
                -->
                {% if post.image %}
                <img src="{{ post.image }}" alt="Post Image" id="imagebox">
              {% else %}
                <img src="{{ url_for('static', filename='image/img404.png') }}" alt="Image Not Found" id="imageboxc">
              {% endif %}
              
                <!-- Hidden input:file -->
                <div class="allbtns">
                   <div>
                   <!-- Assuming this is in your Flask template (e.g., edit_post.html) -->
                   {% if current_user.is_authenticated and (current_user.is_admin or post.user_id == current_user.id) %}

                   <img src="{{ url_for('static', filename='image/edit-3-svgrepo-com.svg') }}" alt="edit" id="editbtn" class="edit-button">
                   <img src="{{ url_for('static', filename='image/delete-svgrepo-com.svg') }}" alt="edit" id="delete" class="delete-button">
                   <label for="save-checkbox">
                    <img src="{{ url_for('static', filename='image/save-svgrepo-com.svg') }}" alt="edit" class="edit-button" id="save" style="display: none;">
                    </label>
                    <img src="{{ url_for('static', filename='image/close-bold-svgrepo-com.svg') }}" alt="edit" id="close" id="editbtn" class="delete-button" style="display: none;">
                    {% endif %}

                    <input type="file" name="file" id="imagefile" style="display: none;">
                    <input type="submit" id="save-checkbox" style="display: none;">
                   </div>
                    <!-- Icon to trigger file input -->
                    <label for="imagefile" id="imagefile-label">
                        <img src="{{ url_for('static', filename='image/image-upload-svgrepo-com.svg') }}" alt="upload" id="upload">

                    </label>
                </div>

                    <p class="boxp">{{ post.title }}"</p>               
                    <div class="category">
                    <h4 id="options" name="category" >{{post.category}}</h4>
                    <select  name="category" id="categorySelect" style="display: none;">
                        <option value="Design">Design</option>
                        <option value="Tech">Tech</option>
                        <option value="Website">Website</option>
                    </select>
                </div>   
                
                <div class="desc">
                    
                    <div class="desc">
                        <span class="time">{{ post.time.strftime('%d/%m/%Y') }}</span>
                        <textarea name="description" id="description" cols="30" rows="10"  style="border: none;">
                            {{ post.description }}
                        </textarea>
                    <p class="descx" id="descx">
                        {{ post.description }}
                    </p>      
                    
                    
                </div>
                {% if current_user.is_authenticated and (current_user.is_admin or post.user_id == current_user.id) %}

                <div class="popup-container" id="popup">

                    <div class="popup">
                        <p class="popup-message">Are you sure you want to delete this post?</p>
                       <div class="bb">
                        <a href="{{ url_for('delete_post', post_id=post.id) }}" class="popup-confirm-yes" >Yes</a>
                        <button class="popup-confirm-no" >No</button>
                      


                       </div>
                    </div>
                  
                </div>
                {% endif %}
  
            </div>
                     
                 </form>
               
                
                <div class="boxx">


                    <form class="comment-container" method="post" action="/create_comment/{{ post.id }}" enctype="multipart/form-data">
                        <label for="comment" class="comment-label">Leave a Comment:</label>
                        <textarea id="comment" name="text" class="comment-textarea" rows="4" cols="50" placeholder="Write your comment here..."></textarea>
                        <button type="submit" class="comment-button">Submit</button>
                    </form>
                    

                    
                    <div class="comment-section">
                        {% for comment in comments %}
                      
                        <form class="comment" method="post" action="/delete_comment/{{ comment.id }}">
                            <img src="{{ comment.user_profilepic }}" alt="Profile Picture" class="comment-profile-pic">
                            <div class="comment-details">
                                <p class="comment-author">{{ comment.user_name }}</p>
                                <div class="comms">
                                    <p class="comment-text">{{ comment.text }}</p>
                                    <p>{{ comment.time }}</p>
                                </div>
                            </div>
                            
                          
                            {% if current_user.is_authenticated %}
                            {% if current_user.is_admin or post.user_id == current_user.id or comment.user_id == current_user.id %}
                                <!-- Display the delete button -->
                                <form class="comment-delete-form" method="post" action="/delete_comment/{{ comment.id }}">
                                    <button type="submit" onclick="return confirm('Are you sure you want to delete this comment?');">
                                        <img src="{{ url_for('static', filename='image/delete-svgrepo-com.svg') }}" alt="Delete" class="delete">
                                    </button>
                                </form>
                            {% endif %}
                        {% endif %}
                        
                        

                            <input type="hidden" name="post_id" value="{{ post_id }}">
                        </form>
                        
                        

                        


                            <!-- {% if current_user == comment.user or current_user.is_admin %} -->
                          
                        <!-- {% endif %} -->
                        <!-- </form> -->

                

                        {% endfor %}
                       
                            
                       
                 </div>
                </div>
     
            </div>
        
   
        <div class="right">
            <div class="rel">
                <span class="most">RELATED POST</span>
                <div class="lines"></div>
            </div>
            <div class="rightt">
                {% for related_post in related_posts %}
                    <div class="rights">
                        <a href="{{ url_for('view_post', post_id=related_post.id) }}">
                            <img src="{{ related_post.image }}" alt="{{ related_post.title }}">
                        </a>                    
                        <span class="tite">
                            {{ related_post.title }}
                        </span>
                    </div>
                {% endfor %}

              
            </div>
       
     
        </div>
    </div>
    
   
</main>


  {% endblock %}
