{% extends 'base.html' %}

 {% block title %}
 Home
 {% endblock %}

 {% block header %}
<header class="headerss">
    <div class="header">
       <div class="headers" id="headersx">
           <div class="logo">
            <a href="{{ url_for('home') }}" ><li >
              <img src="{{ url_for('static', filename='image/Logo (2).svg') }}" alt="logo">
            
            </li></a>
           </div>
           {% if user_profile %}
           <a href="#" class="profilepic">
               <img src="{{ user_profile.profile_pic }}" alt="profile" class="postimg" id="profilepicc">
           </a>
       {% else %}

       <img src="{{ url_for('static', filename='image/profile1.svg') }}" alt="profile" class ="postimg add" id="profilepicc">      
         {% endif %}
       
           <div class="list" id="list">
               <ul id="act">
                   <a href="{{ url_for('home') }}"><li class="active" >Home</li></a>
                   <a href="{{ url_for('post') }}"><li>Post</li></a>
                   <a href="{{ url_for('contact') }}"><li>Contact</li></a>
                   {% if current_user.is_authenticated %}
                   <div class="imgd">
                
                   </div>
                   <a href="{{ url_for('logout') }}" class="login" id="login">Logout</a>
               {% else %}

                   <a href="{{ url_for('login') }}" class="login" id="login">Login</a>
               {% endif %}
                            
              </ul>
          

              <div class="listbtn">
                <!-- <img src="{{ url_for('static', filename='image/list-ul-alt-svgrepo-com.svg') }}" alt="Open List" id="imglistNew">
                -->
                <button id="imglistNew" class="llx">=</button>
              </div>
            
          
           </div>
       </div>
    </div>

    <div class="title">
      <div class="titles">
         
              <h1>Tech Insights</h1>
               <p class="desc">
                  Stay updated with the latest in tech. Dive into the world of gadgets, coding, AI, and more. Join us as we explore the ever-evolving landscape of technology, providing you with insights, reviews, and news to keep you at the forefront of innovation
               </p>
               <a href="#section1"><button>See More</button></a>
       
      </div>
   </div>
</header>

{% endblock %}


 {% block content %}

 <main>
    <div class="find">
      <div class="finds">
          <div class="finds">

            <form action="{{ url_for('home') }}" method="GET"  class="src" id="section1">
              <input type="text" class="search-input" name="search" placeholder="Search..." value="{{ search_query }}">
              <button type="submit" class="search-button">Search</button>
          </form>
        

              <div class="category-buttons">
                <a href="{{ url_for('home') }}?category=All" class="category-button {% if selected_category == 'All' %}active{% endif %}">All</a>
                <a href="{{ url_for('home') }}?category=Design" class="category-button {% if selected_category == 'Design' %}active{% endif %}">Design</a>
                <a href="{{ url_for('home') }}?category=Tech" class="category-button {% if selected_category == 'Tech' %}active{% endif %}">Tech</a>
            </div>
            
           
          </div>
      </div>
    </div>


    <div class="data" >
      <div class="datas">
        {% for post in posts %}

        <div class="datax">
        
            <a href="{{ url_for('view_post', post_id=post.id) }}" class="imgx">
              {% if post.image %}
                <img src="{{ post.image }}" alt="Post Image" class="imgdata">
              {% else %}
                <img src="{{ url_for('static', filename='image/img404.png') }}" alt="Image Not Found" class="imgdata">
              {% endif %}
            </a>

           <div class="boo" >
           <div class="commx">
            <div class="comm" id="section2" >
              <span class="mobile">{{ post.category }}</span>
          </div>
           </div>
         <div class="tittx">
          <span class="tit">
            {% set words = post.title.split() %}
            {{ ' '.join(words[:20]) }}{% if words|length > 20 %}...{% endif %}
          </span>
          
         </div>
       <div class="tco">
        <span class="date" >{{ post.time }}</span>
        <div class="dess">
          <span class="desc" id="limitedText">
            {% set words = post.description.split() %}
            {{ ' '.join(words[:20]) }}{% if words|length > 30 %}...{% endif %}
          </span>
       </div>
        </div>
           </div>
          
           <a href="{{ url_for('view_post', post_id=post.id) }}" class="imgxx" >
            <div class="posts">
              <img src="{{ post.profile_pic }}" alt="profile" class="postimg">
              <span class="name">{{post.username}}</span>
             <div class="len">
              <img src="{{ url_for('static', filename='image/comment-5-svgrepo-com.svg') }}" alt="" class="commx">
              <span class="nums">{{ post.comment_count}}
             </div>
            </div>
        </a>

        
       </div>
       

        
       {% endfor %}

     
       
      </div>
    </div>

  </main>

 {% endblock %}


  
  