{% extends 'base.html' %}

 {% block title %}
 Home
 {% endblock %}


 {% block header %}

 <header class="headerss">
    <div class="header">
       <div class="headers" id="headersx">
           <div class="logo">
               <img src="{{ url_for('static', filename='image/Logo (2).svg') }}" alt="logo">
           </div>
           <div class="list" id="list">
            <ul id="act">
                <a href="{{ url_for('home') }}"><li class="active">Home</li></a>
                <a href="{{ url_for('post') }}"><li>Post</li></a>
                <a href="{{ url_for('contact') }}"><li>Contact</li></a>
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('logout') }}" class="login" id="login">Logout</a>
            {% else %}
                <a href="{{ url_for('login') }}" class="login" id="login">Login</a>
            {% endif %}                
                
            </ul>
            
               <div class="listbtn">
                <!-- <img src="{{ url_for('static', filename='image/cancel-svgrepo-com (3).svg') }}" alt="btn" id="imgcancel" > -->
                <img src="{{ url_for('static', filename='image/list-ul-alt-svgrepo-com.svg') }}" alt="btn" id="imglist ">
               
            </div>
           </div>
       </div>
    </div>

    <div class="title">
       <div class="titles">
          
               <h1>Tech Insights</h1>
                <p class="desc">
                   Stay updated with the latest in tech. Dive into the world of gadgets, coding, AI, and more. Join us as we explore the ever-evolving landscape of technology, providing you with insights, reviews, and news to keep you at the forefront of innovation
                </p>
                <button>See More</button>
        
       </div>
    </div>
 </header>

 {% endblock %}


 {% block main %}

 <main>
    <div class="find">
      <div class="finds">
          <div class="finds">
              <div class="src">
              <input type="text" class="search-input" placeholder="Search...">
              <button class="search-button">Search</button>
         
              </div>
              <div class="category-buttons">
                  <button class="category-button active">All</button>
                  <button class="category-button">Design</button>
                  <button class="category-button">Tech</button>
                  <button class="category-button">Mobile</button>
              </div>
           
          </div>
      </div>
    </div>


    <div class="data">
      <div class="datas">
        {% for post in posts %}
       <div class="datax">
        <img src="{{ post.image }}" alt="image" class="imgdata">

          <!-- <img src="./image/background (2).jpg" alt="image" class="imgdata"> -->
          <div class="comm">
              <span class="mobile">{{ post.category }}</span>
          </div>
          <span class="tit">
            {{ post.title }}
          </span>
          <span class="date" >{{ post.time }}</span>
          <span class="desc" id="limitedText">
            {{ post.description }}
                  </span>
          <div class="posts">
              <img src="{{ url_for('static', filename='image/profile.jpg') }}" alt="post" class="postimg">
              <span class="name">Masresha Alemu</span>
              <img src="{{ url_for('static', filename='image/comment-5-svgrepo-com.svg') }}" alt="" class="commx">
          </div>
       </div>
       {% endfor %}

     
       
      </div>
    </div>

  </main>


 {% endblock %}


  
  