{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block header_content %}
<header>
    <div class="header">
       <div class="headers" id="headersx">
           <div class="logo">
            <a href="{{ url_for('home') }}"><li >
                <img src="{{ url_for('static', filename='image/Logo (2).svg') }}" alt="logo">
              </li></a>           </div>
           <div class="list" id="list">
               <ul id="act">
                   <a href="{{ url_for('home') }}"><li >Home</li></a>
                   <a href="{{ url_for('post') }}"><li>Post</li></a>
                   <a href="{{ url_for('contact') }}"><li>Contact</li></a>
                   {% if current_user.is_authenticated %}
                   <a href="{{ url_for('logout') }}" class="login" id="login">Logout</a>
               {% else %}
                   <a href="{{ url_for('login') }}" class="login activex" id="login">Login</a>
               {% endif %}                   </ul>
               <div class="listbtn">
                <button id="imglistNew" class="llx">=</button>
               </div>
           </div>
       </div>
    </div>

</header>

{% endblock %}


{% block content %}

<main class="login">
    <div class="containerz">
        <h1 class="login-title">Login</h1>
        <form action="{{ url_for('login') }}" method="POST" class="login-form" id="login-form">
            <label for="username" class="login-label">Email:</label>
            <input type="text" id="username" name="email" required class="login-input">
            <br>
    
            <label for= "password" class= "login-label">Password:</label>
            <input type="password" id="password" name="password" required class="login-input">
            <br>
    
            <input type="submit" value="Login" class="login-button">
        </form>
    
        <div class="login-success" id="login-success">
            Login successful!
        </div>
    
        <div class="login-failure" id="login-failure">
            Login failed. Please check your credentials and try again.
        </div>
    
        <p class="sign-up-link">Don't have an account? <a href="{{ url_for('signup') }}">Sign Up</a></p>
    </div>
        
    <p class="sign-up-link"> <a href="{{ url_for('forget') }}">Forget Password</a></p>

</main>


{% endblock %}
